<div class="form_group">
    <div class="block">
        <div class="title_in_card">
            <label>Название теста</label>
        </div>
        <div>
            <input type="text" class="form_control" placeholder="Напишите название теста" />
        </div>
    </div>
    <div class="block">
        <div class="comment_in_card">
            <label>Комментарий к тесту</label>
        </div>
        <div>
            <input type="text" class="form_control" placeholder="Напишите комментарий к тесту" />
        </div>
    </div>
    <div class="block">
        <div class="comment_in_card">
            <label>Колличество вопросов</label>
        </div>
        <div>
            <input type="text" class="form_control" placeholder="Напишите колличество вопросов" />
        </div>
    </div>
    <div class="block_btn">
        <button type="submit" class="btn"><a routerLink="/nextStage">Далее</a></button>
    </div>
</div>
