<div class="wrapper">
    <div class="link">
        <a class="text" routerLink="/about">Личный кабинет</a>
    </div>
    <div class="link">
        <a class="text" routerLink="/create">Форма для создания "направления и специальности"</a>
    </div>
    <div class="link">
        <a class="text" routerLink="/create">Форма для создания "компетенции и индикаторы"</a>
    </div>
    <div class="link">
        <a class="text" routerLink="/create">Форма для создания "дисциплины"</a>
    </div>
    <div class="link">
        <a class="text" routerLink="/create">Форма для создания "группы (обучающихся);"</a>
    </div>
    <div class="link">
        <a class="text" routerLink="/create">Форма для создания "учетных записей обучающихся"</a>
    </div>
</div>