<nav class="nav">
    <div class="image_block">
        <img alt="image" src="/assets/logo.png" />
    </div>
    <div>
        <div class="wrraper">
            Осталось {{getTimeout()}} минут
        </div>
    </div>
    <div>
        <div class="wrraper">
            Остался 1 вопрос
        </div>
    </div>
    <div class="navigation_link">
        <div class="btn_login">
            <a routerLink="/login">Выйти</a>
        </div>
        <div class="btn_app">
            <a routerLink="/user">Выбрать другой тест</a>
        </div>
    </div>
</nav>